@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div><img src="~/pics/santaclaus_marvel.png" /></div>
    <h1>Holiday Mascot Ratings!</h1>
    @*Added Buttons to navigate to Category and Reviews*@
    <p><a href="http://localhost:59693/Reviews/Index" class="btn btn-primary btn-lg">To the Rankings &raquo;</a></p>
    <p><a href="http://localhost:59693/Categories/Index" class="btn btn-primary btn-lg">Review your own Mascot &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Which mascot will reign supreme!?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum, felis vel porttitor pulvinar, erat dolor vulputate urna, ac hendrerit erat eros malesuada mi. Nulla vel sagittis lacus, eu maximus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non eros a eros euismod facilisis. Aliquam non aliquet sapien. Vivamus ullamcorper nunc sit amet elit fringilla, sit amet gravida justo consequat. Nullam volutpat blandit dui, sed tempor sapien dapibus a. Nulla facilisi. Nulla pharetra dolor ac tellus mollis, ac iaculis tellus consequat. Praesent et eros suscipit, porttitor libero a, imperdiet tellus. Ut quis porttitor nisl, non hendrerit quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ut est leo.
        </p>
       
    </div>
</div>